button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    margin: 1rem;
    box-shadow: 5px 5px 15px 5px #513faa;
    cursor: pointer;
}

.BtnAdd {
    background-color: #27AE60;
}

.btnSubs{
    background-color:#CB4335;
}

.btnReset{
    background-color: #3498DB;
}